*.sha1 text eol=lf
charmap.txt text eol=crlf
m2ctx.sh text eol=lf
format.sh text eol=lf

*.png binary

*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.s text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
Makefile text eol=lf
.clang-format-ignore eol=lf
.clang-format eol=lf
