*.sha1 text eol=lf
charmap.txt text eol=crlf
m2ctx.sh text eol=lf

*.png binary

*.c text eol=crlf
*.h text eol=crlf
*.cpp text eol=crlf
*.hpp text eol=crlf
*.s text eol=crlf
.gitattributes text eol=crlf
.gitignore text eol=crlf
