main_background_tileset.NCGR
main_background_diamond.NCLR
main_background_pearl.NCLR
lucas_walk_1.NCGR
lucas_walk_2.NCGR
lucas_walk_3.NCGR
lucas_walk_4.NCGR
lucas_walk.NCLR
dawn_walk_1.NCGR
dawn_walk_2.NCGR
dawn_walk_3.NCGR
dawn_walk_4.NCGR
dawn_walk.NCLR
rowan_front.NCGR
rowan_front.NCLR
barry_front.NCGR
barry_front.NCLR
sub_background_tileset.NCGR
sub_background_diamond.NCLR
sub_background_pearl.NCLR
pokeball_button_1.NCGR
